<section class="success" id="about2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <table cellpadding="3" class="projectAbout">
        <tbody>
          <tr>
            <td style="padding-bottom: 0,75em;"><strong>Project title</strong></td>
            <td style="padding: 0 15px; padding-bottom: 0,75em;">CLOUDSTARS: Cloud open source research mobility network</td>
          </tr>
          <tr>
            <td style="padding-bottom: 0,75em;"><strong>Grant agreement ID</strong></td>
            <td style="padding: 0 15px; padding-bottom: 0,75em;">101086248</td>
          </tr>
          <tr>
            <td style="padding-bottom: 0,75em;"><strong>Coordinator</strong></td>
            <td style="padding: 0 15px; padding-bottom: 0,75em;">Dr. Pedro García López</td>
          </tr>
          <tr>
            <td style="padding-bottom: 0,75em;"><strong>Partners</strong></td>
            <td style="padding: 0 15px; padding-bottom: 0,75em;">


              <a href="http://www.urv.cat/en/" target="_blank" style="color: white;">Universitat Rovira i Virgili</a>
              (Spain)

              <br>

              <a href="https://www.bsc.es/" target="_blank" style="color: white;">Barcelona Supercomputing Center</a>
              (Spain)

              <br>

              <a href="https://www.um.es/" target="_blank" style="color: white;">Universidad de Murcia</a>
              (Spain)

              <br>

              <a href="https://www.tum.de/" target="_blank" style="color: white;">Technische Universität München</a>
              (Germany)

              <br>

              <a href="https://www.uni-wuerzburg.de/startseite/" target="_blank" style="color: white;">Julius-Maximilians-Universität Würzburg</a>
              (Germany)

              <br>

              <a href="https://vu.nl/nl/over-de-vu/meer-over/stichting-vu" target="_blank" style="color: white;">Stichting VU</a>
              (Netherlands)

              <br>

              <a href="https://www.agh.edu.pl/" target="_blank" style="color: white;">Akademia Górniczo-Hutnicza im.
                Stanisława Staszica w Krakowie </a>
              (Poland)

              <br>

              <a href="https://www.unitn.it/" target="_blank" style="color: white;">Università Degli Studi di Trento</a>
              (Italy)

              <br>

              <a href="https://www.tuwien.at/" target="_blank" style="color: white;">Technische Universität Wien</a>
              (Austria)

              <br>

              <a href="https://www.ibm.com/planetwide/il/" target="_blank" style="color: white;">IBM Israel - Science and Technology LTD</a>
              (Israel)

              <br>

              <a href="https://www.nearbycomputing.com/" target="_blank" style="color: white;">Nearby Computing SL</a>
              (Spain)

              <br>

              <a href="https://www.inesc-id.pt/" target="_blank" style="color: white;">Instituto de Engenharia De Sistemas e
                Computadores</a>
              (Portugal)

              <br>

              <a href="https://www.sap.com/" target="_blank" style="color: white;">SAP SE</a>
              (Germany)

              <br>

              <a href="https://www.zhaw.ch/de/hochschule/" target="_blank" style="color: white;">Zürcher Hochschule Für Angewandte
                Wissenschaften</a>
              (Switzerland)

              <br>

              <a href="https://www.zhaw.ch/de/hochschule/" target="_blank" style="color: white;">Università della Svizzera Italiana</a>
              (Italy)

              <br>

              <a href="https://www.imperial.ac.uk/" target="_blank" style="color: white;">Imperial College of Science, Technology
                and Medicine</a>
              (United Kingdom)

              <br>

              


            </td>
          </tr>
          <tr>
            <td style="padding-bottom: 0,75em;"><strong>Duration</strong></td>
            <td style="padding: 0 15px; padding-bottom: 0,75em;">01 Jan 2023 - 31 Dec 2026</td>
          </tr>
          <tr>
            <td style="padding-bottom: 0,75em;"><strong>Overall budget</strong></td>
            <td style="padding: 0 15px; padding-bottom: 0,75em;">1,301,800.00€</td>
          </tr>
          <tr>
            <td style="padding-bottom: 0,75em;"><strong>Programme</strong></td>
                    <td style="padding: 0 15px; padding-bottom: 0,75em;">
                    Horizon Europe - MSCA Staff Exchanges 2021<br>
                    </td>
          </tr>
          <tr>
            <td style="padding-bottom: 0,75em;"><strong>Topic</strong></td>
            <td style="padding: 0 15px; padding-bottom: 0,75em;">HORIZON-MSCA-2021-SE-01-01
            </td>
          </tr>
          <tr>
            <td><strong>Funding scheme</strong></td>
            <td style="padding: 0 15px;"> HORIZON-TMA-MSCA-SE HORIZON TMA MSCA Staff Exchanges</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</section>