<section class="success2" id="objectives">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Objectives</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12" style="text-align: justify;">
        <p> <strong>CloudStars</strong> presents a joint research programme in the fields of Cloud
          computing and AI technologies. CloudStars pursues innovation in the Cloud
          infrastructures to support the next generation of low-latency, high-performance complex workloads. CloudStars
          also pursues high innovation
          in the Cloud, making the best application of artificial intelligence techniques and AI models with
          automatic adaptation to the computing resources.</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4 text-center">
        <span class="fa-stack fa-4x">
          <i class="fa fa-building" aria-hidden="true"></i>
        </span>
        <h4 class="goal-title">Cloud infrastructure</h4>
        <p class="small">Development and benchmarking of open-source technologies to advance the next
          generation cloud infrastructure.</p>
      </div>
      <div class="col-sm-4 text-center">
        <span class="fa-stack fa-4x">
          <i class="fas fa-cloud-download fa-stack-1x"></i>
        </span>
        <h4 class="goal-title"> Serverless and Hybrid Cloud Application Design</h4>
        <p class="small">Design and benchmarking of novel cloud and edge serverless middleware to leverage the
          advances in the cloud infrastructure.</p>
      </div>
      <div class="col-sm-4 text-center">
        <span class="fa-stack fa-4x fa-rotate-270">
          <i class="fa fa-bar-chart fa-flip-vertical" aria-hidden="true"></i>
        </span>
        <h4 class="goal-title">AI and Data Analytics</h4>
        <p class="small">Application of novel machine learning techniques for
          managing containerized cloud systems, involving the infrastructure and configuration of
          executions and services.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <br>
        <img src="img/objectives.png" alt="Neardata architecture">
        <figcaption class="text-faded">Work Package Structure</figcaption>
        <br>
        <div class="col-lg-12" style="text-align: justify;">
          <p class="small">The main objectives of CLOUDSTARS are:


          <ul>

            <li class="text-faded" style="text-align:justify">Development and benchmarking of open-source technologies
              to advance the next
              generation cloud infrastructure, where it will play a vital role the development of new container
              technologies, as well as elastic and low-latency storage for ephemeral data, efficient resource
              management of hardware accelerators (GPUs, FPGAs and smartNICs) and networking.
            </li>

            <br>

            <li class="text-faded" style="text-align:justify"> Design and benchmarking of novel cloud and edge
              serverless middleware to leverage the
              advances in the cloud infrastructure, which pivots upon all sorts of containerized technologies
              such as Function-as-a-Service (FaaS) platforms, serverless containers, and event-based
              orchestration to open the serverless execution model to HPC and analytics workloads. The
              project will also explore how the platform should protect and govern data throughout its
              lifecycle.
            </li>

            <br>

            <li class="text-faded" style="text-align:justify">Application of novel machine learning techniques (e.g.,
              statistical and deep learning) for
              managing containerized cloud systems, involving the infrastructure and configuration of
              executions and services, and the optimization of data analytics platforms over serverless
              middleware and container infrastructures. The project will also explore the interplay between
              Edge and Cloud for enabling a diverse range of AI-enabled applications.</li>

          </ul>
          We note that CLOUDSTARS will also conduct standardization activities in industrial open-source
          projects such as those encompassed by the Cloud Native Computing Foundation (CNCF), namely,
          Kubernetes, Istio, or Knative, to mention a few, and contribute to thriving open-source communities
          such as Apache Spark and Dask, or Lithops. The project will make public all the contributions to the
          different open-source projects and contribute to the European digital sovereignty and European
          standards such as Gaia-X.

          </p>
        </div>
      </div>
    </div>
  </div>
</section>