<section class="success2" id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Partners</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <iframe src="https://www.google.com/maps/d/embed?mid=1gj2sBisxuQR3hEvSNGkU59TAuBXSweY&ehbc=2E312F" width="640" height="480"></iframe>
            </div>
        </div>
        
        
        <div class="row">
            <div class="text-center col-lg-12">
                <br>
                <p> The CLOUDSTARS consortium is a well-balanced team of industrial and academic partners:
                </p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <a href="http://www.urv.cat/en/" target="_blank">
                    <img src="img/partners/urv.png" class="img-responsive img-centered"
                        alt="Universitat Rovira i Virgili (Spain)">
                </a>
            </div>

            <div class="col-md-3">
                <a href="https://www.bsc.es/" target="_blank">
                    <img src="img/partners/bsc.png" class="img-responsive img-centered"
                        alt="Barcelona Supercomputing Center (Spain)">
                </a>
            </div>

            <div class="col-md-3">
                <a href="https://www.um.es/" target="_blank">
                    <img src="img/partners/UDC.jpg" class="img-responsive img-centered"
                        alt="Universidad de Murcia (Spain)">
                </a>
            </div>
            
            <div class="col-md-3">
                <a href="https://www.tum.de/" target="_blank">
                    <img src="img/partners/TUM.jpg" class="img-responsive img-centered"
                        alt="Technische Universität München (Germany)">
                </a>
            </div>

            <div class="col-md-3">
                <a href="https://www.uni-wuerzburg.de/startseite/" target="_blank">
                    <img src="img/partners/uniwu.jpg" class="img-responsive img-centered"
                        alt="Julius-Maximilians-Universität Würzburg (Germany)">
                </a>
            </div>

            <div class="col-md-3">
                <a href="https://vu.nl/nl/over-de-vu/meer-over/stichting-vu" target="_blank">
                    <img src="img/partners/vu.png" class="img-responsive img-centered"
                        alt="Stichting VU  (Netherlands)">
                </a>
            </div>

            <div class="col-md-3">
                <a href="https://www.agh.edu.pl/" target="_blank">
                    <img src="img/partners/agh.png" class="img-responsive img-centered"
                        alt="Akademia Górniczo-Hutnicza im.
                        Stanisława Staszica w Krakowie  (Poland)">
                </a>
            </div>

            <div class="col-md-3">
                <a href="https://www.unitn.it/" target="_blank">
                    <img src="img/partners/trento.png" class="img-responsive img-centered"
                        alt="Università Degli Studi di Trento (Italy)">
                </a>
            </div>

            <div class="col-md-3">
                <a href="https://www.tuwien.at/" target="_blank">
                    <img src="img/partners/wien.png" class="img-responsive img-centered"
                        alt="Technische Universität Wien (Austria)">
                </a>
            </div>

            <div class="col-md-3">
                <a href="https://www.ibm.com/planetwide/il/" target="_blank">
                    <img src="img/partners/ibm.png" class="img-responsive img-centered"
                        alt="IBM Israel - Science and Technology LTD (Israel)">
                </a>
            </div>

            <div class="col-md-3">
                <a href="https://www.nearbycomputing.com/" target="_blank">
                    <img src="img/partners/nearby.jpg" class="img-responsive img-centered"
                        alt="Nearby Computing SL (Spain)">
                </a>
            </div>

            <div class="col-md-3">
                <a href="https://www.inesc-id.pt/" target="_blank">
                    <img src="img/partners/inesc.png" class="img-responsive img-centered"
                        alt="Instituto de Engenharia De Sistemas e
                        Computadores - Investigação e
                        Desenvolvimento (Portugal)">
                </a>
            </div>


        </div>

        <div class="row">
            <div class="text-center col-lg-12">
                <br>
                <br>
                <p> And our associated partners:
                </p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <a href="https://www.zhaw.ch/de/hochschule/" target="_blank">
                    <img src="img/partners/zurich.png" class="img-responsive img-centered"
                        alt="Zürcher Hochschule Für Angewandte
                        Wissenschaften (Switzerland)">
                </a>
            </div>

            <div class="col-md-3">
                <a href="https://www.zhaw.ch/de/hochschule/" target="_blank">
                    <img src="img/partners/usi.png" class="img-responsive img-centered"
                        alt="Università della Svizzera Italiana (Italy)">
                </a>
            </div>

            <div class="col-md-3">
                <a href="https://www.imperial.ac.uk/" target="_blank">
                    <img src="img/partners/ICL.png" class="img-responsive img-centered"
                        alt="Imperial College of Science, Technology
                        and Medicine (United Kingdom)">
                </a>
            </div>

        </div>
    </div>
</section>